@model LibraBoekenBeheerder.Models.BooksModel

@using (Html.BeginForm()) 
{

    @Html.AntiForgeryToken()
    
    <form asp-controller="BooksController" asp-action="Create">
        <div class="form-horizontal">
                <h5>Add a Book</h5>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                   <input type="text" asp-for="Title" placeholder="Title of Book"/>
                   <input type="text" asp-for="Author" placeholder="Author of Book"/>
                   <input type="text" asp-for="ISBNNumber" placeholder="ISBNNumber of Book"/>
                   <input type="number" asp-for="Pages" placeholder="Pages of Book"/>
                   <input type="number" asp-for="PagesRead" placeholder="Pages already read"/>
                   <input type="text" asp-for="Summary" placeholder="Short summary of the Book"/>
               
                   <select asp-for="SelectedCollectionId" asp-items="ViewBag.collectionDropDownList" style="width: 150px;"></select>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                
                <h3>@ViewBag.Message</h3>
            </div>
        
    </form>
    
}
 
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
 
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>